body {
    background-color: turquoise;
    color: white;
    font-family: monospace;
}

#words {
    width: 50%;
    padding: 20px; 
    border: 5px solid rgb(42, 181, 197);
    background-color: rgb(42, 181, 197);
    margin: 20px auto; /* top/bottom 20px, left/right auto */
    border-radius: 20px;
    text-align: center;
}
